.body{
	background-color: black;
}
.container {
	margin: 20px auto;
	background-image: url(https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/q/x/p49-1493902576590b24f0cacb9.jpg?tr=tr:n-large);
	background-size: cover;
}

.main-title {
	font-weight: bold;
	font-style: italic;
	text-align: center;
	margin-bottom:10px;
	color: red;
}

.order-search {
	width: 500px;
	margin: auto;
}

.order-status-block {
	display: block;
	margin: 10px auto;
	width: 600px;
	pointer-events: none;
}

.order-status-wrapper {
	padding-bottom: 5px;
	border-radius: 20px;
	width: 700px;
	margin: auto;
	background: transparent;
}